<mat-progress-bar *ngIf="carregando" mode="indeterminate"></mat-progress-bar>

<div *ngIf="!carregando">
    <div class="div-cabecalho shadow rounded">
        
        <div class="container-ponto border-right">

            <div class="itens-cabecalho">
                <span class="titulo-itens-cabecalho" style="opacity:70%;">Ponto</span>
                
                <div class="container-sub-itens-cabecalho">
                    <div class="sub-itens-cabecalho">
                        <button mat-button [matMenuTriggerFor]="menu">Dia</button>
                        <mat-menu #menu="matMenu">
                            <span mat-menu-item 
                                *ngIf="saldoHorasDia.jornadaInicioMarcacao === '-' ||
                                 saldoHorasDia.jornadaInicioMarcacao === ''">
                                Sem Marcação no Dia
                            </span>
                            <span mat-menu-item 
                                *ngIf="saldoHorasDia.jornadaInicioMarcacao !== '-' &&
                                saldoHorasDia.jornadaInicioMarcacao !== ''">
                                Entrada: {{saldoHorasDia.jornadaInicioMarcacaoOriginal}}
                            </span>
                            <span mat-menu-item 
                                *ngIf="saldoHorasDia.cafeManhaInicioMarcacao !== '-' &&
                                saldoHorasDia.cafeManhaInicioMarcacao !== ''">
                                Saída p/ Café da Manhã: {{saldoHorasDia.cafeManhaInicioMarcacao}}
                            </span>
                            <span mat-menu-item 
                                *ngIf="saldoHorasDia.cafeManhaFimMarcacao !== '-' &&
                                saldoHorasDia.cafeManhaFimMarcacao !== ''">
                                Retorno: {{saldoHorasDia.cafeManhaFimMarcacao}}
                            </span>
                            <span mat-menu-item 
                                *ngIf="saldoHorasDia.almocoInicioMarcacao !== '-' &&
                                saldoHorasDia.almocoInicioMarcacao !== ''">
                                Saída p/ Almoço: {{saldoHorasDia.almocoInicioMarcacao}}
                            </span>
                            <span mat-menu-item 
                                *ngIf="saldoHorasDia.almocoFimMarcacao !== '-' &&
                                saldoHorasDia.almocoFimMarcacao !== ''">
                                Retorno: {{saldoHorasDia.almocoFimMarcacao}}
                            </span>
                            <span mat-menu-item 
                                *ngIf="saldoHorasDia.cafeTardeInicioMarcacao !== '-' &&
                                saldoHorasDia.cafeTardeInicioMarcacao !== ''">
                                Saída p/ Café da Tarde: {{saldoHorasDia.cafeTardeInicioMarcacao}}
                            </span>
                            <span mat-menu-item 
                                *ngIf="saldoHorasDia.cafeTardeFimMarcacao !== '-' &&
                                saldoHorasDia.cafeTardeFimMarcacao !== ''">
                                Retorno: {{saldoHorasDia.cafeTardeFimMarcacao}}
                            </span>
                            <span mat-menu-item 
                                *ngIf="saldoHorasDia.jornadaFimMarcacao !== '-' &&
                                saldoHorasDia.jornadaFimMarcacao !== ''">
                                Saída {{saldoHorasDia.jornadaFimMarcacao}}
                            </span>
                            <span mat-menu-item 
                                *ngIf="saldoHorasDia.saldo !== '-' &&
                                saldoHorasDia.saldo !== ''"
                                [ngClass]="saldoHorasDia.saldo.startsWith('-') ? 'text-danger' : 'text-primary'">
                                Saldo do Dia {{saldoHorasDia.saldo}}
                            </span>
                        </mat-menu>
                    </div>
                    <div class="sub-itens-cabecalho">
                        <span class="titulo-itens-cabecalho">60 dias</span>
                        <span 
                        [ngClass]="saldoHorasAtual.saldoCompetencia60Dias.startsWith('-') ? 'text-danger' : 'text-primary'">
                            {{saldoHorasAtual.saldoCompetencia60Dias}}
                        </span>
                    </div>
                    <div class="sub-itens-cabecalho">
                        <span class="titulo-itens-cabecalho"> Mês &nbsp;</span>
                        <span 
                        [ngClass]="saldoHorasAtual.saldoCompetencia30Dias.startsWith('-') ? 'text-danger' : 'text-primary'">
                            {{saldoHorasAtual.saldoCompetencia30Dias}}
                        </span>
                    </div>
                    <div class="sub-itens-cabecalho">
                        <span class="titulo-itens-cabecalho">À Compensar</span>
                        <span 
                        [ngClass]="saldoHorasAtual.saldoCompetenciaAnteriorCompensar.startsWith('-') ? 'text-danger' : 'text-primary'">
                            {{saldoHorasAtual.saldoCompetenciaAnteriorCompensar}}
                        </span>
                    </div>
                    <div class="sub-itens-cabecalho">
                        <span class="titulo-itens-cabecalho">Saldo Atual</span>
                        <span 
                        [ngClass]="saldoHorasAtual.saldoCompetenciaAtualTotal.startsWith('-') ? 'text-danger' : 'text-primary'">
                            {{saldoHorasAtual.saldoCompetenciaAtualTotal}}
                        </span>
                    </div>
                </div>
            </div>


        </div>

        <div class="container-ticket">
            <div class="itens-cabecalho">
                <span class="titulo-itens-cabecalho" style="opacity:70%;">Tickets</span>
                
                <div class="container-sub-itens-cabecalho">
                    <div class="sub-itens-cabecalho">
                        <span class="titulo-itens-cabecalho">Atrasados</span>
                        <span class="text-danger">{{ticketsAtrasadosCount}}</span>
                    </div>
                    <div class="sub-itens-cabecalho">
                        <span class="titulo-itens-cabecalho">Hoje</span>
                        <span class="text-warning">{{ticketsParaHojeCount}}</span>
                    </div>
                </div>
            </div>
         
        </div>

    </div>
</div>