<div class="row mt-2">
    <div class="col-6">
        <button class="btn form-control" routerLink="mfe-painel-colaborador/equipe">Equipe</button>
    </div>
    <div class="col-6">
        <button class="btn form-control">Ponto</button>
    </div>
</div>
<!-- <mat-tab-group [selectedIndex]="tabIndex" mat-stretch-tabs class="mt-1">
    <mat-tab>

        <ng-template mat-tab-label>
            Equipe
        </ng-template>

 
        <div>
            <painel-colaborador-tabs-equipe></painel-colaborador-tabs-equipe>

        </div>

    </mat-tab>

    <mat-tab>

        <ng-template mat-tab-label>
            Ponto
        </ng-template>

 
        <div>
            <painel-colaborador-tabs-ponto></painel-colaborador-tabs-ponto>

        </div>

    </mat-tab>
    
</mat-tab-group> -->
