<mat-progress-bar *ngIf="carregando" mode="indeterminate"></mat-progress-bar>

<div class="container-resumo" *ngIf="!carregando">
    <div class="div-resumo">

        <div class="row" >

            <div class="mb-1" [ngClass]="hasSuperior ? 'col-lg-4' : 'col-lg-6'">                
                <div fxFlex="100%" fxLayout="row" fxLayoutGap="10px">
                    <div class="col-4" style="padding: 5px" fxLayoutAlign="end center">
                        <img [src]="getFoto()" class="picture-card-func">
                    </div>
                    <div class="col-8" fxLayoutAlign="start center">
                        <div class="col-lg-12" fxLayout="column">
                            <span style="font-weight: bold;">{{funcionario.nome}}</span>
                            <span>{{funcionario.cargo}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-1" [ngClass]="hasSuperior ? 'col-lg-4' : 'col-lg-6'">                
                <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <div fxFlex="50%" fxLayout="column">
                        <span style="font-weight: bold;">Empresa</span>
                        <span>{{funcionario.nomeEmpresa}}</span>
                    </div>
                    <div fxFlex="50%" fxLayout="column">
                        <span style="font-weight: bold;">Departamento</span>
                        <span>{{funcionario.departamento}}</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-1" *ngIf="hasSuperior">                
                <div fxFlex="100%" fxLayout="column" fxLayoutGap="5px" class="div-superior">
                    <div style="font-weight: bold;text-align: center;">Superior</div>
                    <div fxFlex="100%" fxLayout="row" fxLayoutGap="10px">
                        <div class="col-4" style="padding: 5px" fxLayoutAlign="end center">
                            <img [src]="getFotoSuperior()" class="picture-card-func">
                        </div>
                        <div class="col-8" fxLayoutAlign="start center" >
                            <div class="col-lg-12" fxLayout="column">
                                <span style="font-weight: bold;">{{funcionarioSuperior.nomeGestor}}</span>
                                <span>{{funcionarioSuperior.cargo}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>